fastapi
uvicorn
requests
beautifulsoup4
lxml
langchain
langchain-groq
langchain-mongodb
langchain-chroma
langchain-huggingface
langchain-text-splitters
pymongo
gunicorn
python-dotenv
langchain-community
python-jose[cryptography]
passlib[bcrypt]
certifi
dnspython
